* { 
/* background: #f1efee */
font-family: 'Comfortaa', cursive;
}


#hamburger {
    text-align: right; 
    padding-right: 1em; 
    display: none;
}

#hamburger img {
    height: 40px; 
    width: auto;
}

#navigation{
    display: flex;
    flex-direction: column;
    display: none;
}

nav, #navigation{
    font-size: 20px;
}


@media only screen and (max-width: 800px) {
    #hamburger { 
        display: block;
  }

  #navigation{
    display: flex;
    flex-direction: column;
    display: none;
}


nav {
    display: none !important;
}
}

body{
    background: #fcf9f3;
    
}

button, .btn {
    background: transparent !important;
    border: 1px solid black !important;
    border-radius: 10px !important;
}


nav h6 {
    color:#465766 !important;
}

a {
    color:#465766 !important;
    text-decoration: none !important;
}

nav {
    display: default;
    background: #f1efee;
    margin: 0 5em;
    line-height: 1em;
    background-color: transparent;
    position: fixed;
  }
  
  #flash .notice {
    padding: 8px 14px;
    margin-bottom: 20px;
    background-color: #fcf8e3;
    z-index: 100;
    }

    .flash-message {
    display: inline-block;
    }
    button.flash-close {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
    padding: 0;
    margin: 0;
    float: right;
    color: #984949;
    cursor: pointer;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    }
    .success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    }
    .error {
    background-color: #ead2d3;
    border-color: #eed3d7;
    color: #984949;
    }
