<!DOCTYPE html>
<html>
<head>
  <title>404</title>

  <link rel="stylesheet" type="text/css" href="../static/main.css">

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
       
  <div>
    <div class="hero">

      <nav class="navbar navbar-fixed-top" role="navigation" aria-label="main navigation">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('therapists') }}">Schedule An Appointment!</a>
            <a href="{{url_for('profile')}}">{{current_user.firstName}}'s Profile</a>
            <a href="{{url_for('logout')}}" title="logout">Logout</a>
            {% if current_user.isCounselor == True %}
            <a href={{url_for('get_schedule', counselor_id = current_user.id)}}>Your Schedule</a>
            {%endif%}
            {% else %}
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{url_for('login')}}" title="login">Login</a>
            <a href="{{url_for('register')}}" title="register">Register</a>
            <a href="{{ url_for('therapists') }}">View all therapists</a>
        {% endif %}
    </nav>
    <div style="text-align: center; margin: 2em">
            <h1 style="margin: 1em"> 404: Page not found</h1>
    <img src="../static/media/surprisedDog.png" alt="confused dogs">
    <h1 ><a href="{{ url_for('index') }}">Run Home!</a></h1>
</div>
</div>
    
</div>

</body>
</html>