{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/appointments.css">

{% if current_counselor.isCounselor == True %}
<div class="wrapper container" style="display:flex">
<div class="cal">
<div class="header"  style="display: flex; padding-top: 2em;">
  <div class="cal-header" style="display: flex; flex-direction: column; align-items: center; padding: 1em 0 0 4em;">
    <h3>Schedule an appointment with {{current_counselor.firstName}}</h3>
    <h5>Click on the date you want to schedule your appointment</h5>
  </div>
  <img style="height: 100px; width: auto; padding-left: 2em;" src="{{current_counselor.picture}}" alt="{{current_counselor.firstName}}">
</div>
        <div class="calendar-wrapper">
                <button id="btnPrev" type="button">Prev</button>
                    <button id="btnNext" type="button">Next</button>
                <div id="divCal"></div>
              </div>
            </div>
              {% include "modal.html"%}

              <div id="appointments-table" style="width:450px; padding-top: 9.3em;">
                  <button onclick=viewAppointments()>View your appointments</button>
                  <div id="your-appointments" style="display: block; width:450px;">
                    
                  {% for appointment in appointments_template %}
      
                  <div>
                  {{ appointment.date.strftime("%A") }},
                  {{ appointment.date.strftime("%x") }}
                  <br/>
                  Therapist: {{ appointment.counselor.firstName}}
                  <br/> 
                  {{ appointment.time }}
                </div>
                <form action="" method="POST">
                    <input name="appointment_id" type="hidden" value="{{appointment.id}}">
                   
                    <input name="submit" type="submit" value="Cancel" class_="button" style="background: none; border-radius: 5px;">        
            </form>

           Edit Appointment:

            <form style="display: block" method="POST" action= "/appointments/{{current_counselor.id}}/edit"  class="form editform" id="{{appointment.id}}">
                {{form.id}}
                    {{ form.csrf_token }}
                    <input name="appointment_id" type="hidden" value="{{appointment.id}}">
                        {{ form.date.label }}
                        {{ form.date() }}
                        <br/>
                        {{ form.time.label }}
                        {{ form.time() }}
                        <br/>
                        <button type="submit" id="submit">Edit Appointment</button>
            </form>   
            <br/>
                  {% endfor %}
              </div>
             
           </div >

           <script src="../static/toggles.js"></script>
              
</div>
{%else%}

<h2>Sorry, you cannot schedule an appointment here</h2>
<h3>Browse our <a href="{{ url_for('therapists') }}">therapists directory</a> to schedule an appointment with a therapist.</h3>

{%endif%}
<script src="../static/appointments.js"></script>
{% endblock %}



