{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="../static/appointments.css">

<div class="wrapper container">
    
            <div class="appointments-table">
            <h4>Here are your appointments:</h4>

            <div>
            <th>Appointment Time</th>
            {% for appointment in appointments_template %}

            <div>
            <form action="" method="POST">
                    <input name="appointment_id" type="hidden" value="{{appointment.id}}">
                    <i name="submit" type="submit" value="Edit", class_="button" data-toggle="modal" data-target="#exampleModal" class="far fa-edit"></i>
                    <input name="submit" type="submit" value="Cancel" class_="button">
            </form>
            {{ appointment.date.strftime("%A") }},
            {{ appointment.date.strftime("%x") }}
            {{ appointment.counselor.firstName}}
            <br/> 
            {{ appointment.time }}
          </div>
            {% endfor %}
        </div>
       
    </div >

    

    <h3>Schedule an appointment with {{current_counselor.firstName}}</h3>

        <div class="calendar-wrapper">
                <button id="btnPrev" type="button">Prev</button>
                    <button id="btnNext" type="button">Next</button>
                <div id="divCal"></div>
              </div>

              {% include "modal.html"%}
        
      <script src="../static/appointments.js"></script>
              
</div>

{% endblock %}



