{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="wrapper">
    <div>
            <table style="width:100%">
            <h4>Here are your appointments:</h4>
            <tr>
            <th>Appointment Time</th>
            {% for appointment in appointments_template %}

            <td>
            <form action="" method="POST">
                    <input name="appointment_id" type="hidden" value="{{appointment.id}}">
                    <text name="submit" type="submit" value="Edit", class_="button" data-toggle="modal" data-target="#exampleModal">Edit</text>
                    <input name="submit" type="submit" value="Delete", class_="button">
            </form>
            {{ appointment.date.strftime("%A") }},
            {{ appointment.date.strftime("%x") }}
            <br/> 
            {{ appointment.time }}</td>
            {% endfor %}
        </tr>
            <tr>
            <th>Counselor</th>
            {% for counselor in counselors %}
            {% for counsel in counselor %}
            <td>therapist name: {{ counsel.firstName  }}</td>
            {% endfor %}
            {% endfor %}
        </tr>
    </table>
    </div>

    <h3>Schedule an appointment with {{current_counselor.firstName}}</h3>

        <div class="calendar-wrapper">
                <button id="btnPrev" type="button">Prev</button>
                    <button id="btnNext" type="button">Next</button>
                <div id="divCal"></div>
              </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Make an Appointment on <span id=appointmentDate></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              click on the time you want to make the appointment
              <form method="POST" action="" class="form">
                    {{ form.csrf_token }}
                        {{ form.date.label }}
                        {{ form.date() }}
                        <br/>
                        {{ form.time.label }}
                        {{ form.time() }}
                        <button type="submit" id="submit">Create Appointment</button>
                </form>                  
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

              
        
 <style>

*{
  box-sizing:border-box;
}

html, body {
  height:100%;
}

.calendar-wrapper {
  width:360px;
  margin:3em auto;
  padding:2em;
}

table {
  clear:both;
  width:100%;
}

td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  width:100% / 7;
}

td.today {
  font-weight:700;
  font-size:1.5em;
}

td.normal, td.today{
  border: 1px solid black;
}

td.normal:hover, td.today:hover {
  cursor: pointer;
}

</style>







<script>
var Cal = function(divId) {

//Store div id
this.divId = divId;

// Days of week, starting on Sunday
this.DaysOfWeek = [
  'Sun',
  'Mon',
  'Tue',
  'Wed',
  'Thu',
  'Fri',
  'Sat'
];

// Months, stating on January
this.Months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ];

// Set the current month, year
var d = new Date();

this.currMonth = d.getMonth();
this.currYear = d.getFullYear();
this.currDay = d.getDate();

}; //end Cal 

// Goes to next month
Cal.prototype.nextMonth = function() {
if ( this.currMonth == 11 ) {
  this.currMonth = 0;
  this.currYear = this.currYear + 1;
}
else {
  this.currMonth = this.currMonth + 1;
}
this.showcurr();
};

// Goes to previous month
Cal.prototype.previousMonth = function() {
if ( this.currMonth == 0 ) {
  this.currMonth = 11;
  this.currYear = this.currYear - 1;
}
else {
  this.currMonth = this.currMonth - 1;
}
this.showcurr();
};

// Show current month
Cal.prototype.showcurr = function() {
this.showMonth(this.currYear, this.currMonth);
};

// Show month (year, month)
Cal.prototype.showMonth = function(y, m) {

var d = new Date()
// First day of the week in the selected month
, firstDayOfMonth = new Date(y, m, 1).getDay()
// Last day of the selected month
, lastDateOfMonth =  new Date(y, m+1, 0).getDate()
// Last day of the previous month
, lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();


var html = '<table>';

// Write selected month and year
html += '<thead><tr>';
html += '<td colspan="7"><span id="currentMonth">' + this.Months[m] + '</span> <span id="currentYear">' + y  + '</span>' + '</td>';
html += '</tr></thead>';


// Write the header of the days of the week
html += '<tr class="days">';
for(var i=0; i < this.DaysOfWeek.length;i++) {
  html += '<td>' + this.DaysOfWeek[i] + '</td>';
}
html += '</tr>';

// Write the days
var i=1;
do {

  var dow = new Date(y, m, i).getDay();

  // If Sunday, start new row
  if ( dow == 0 ) {
    html += '<tr>';
  }
  // If not Sunday but first day of the month
  // it will write the last days from the previous month
  else if ( i == 1 ) {
    html += '<tr>';
    var k = lastDayOfLastMonth - firstDayOfMonth+1;
    for(var j=0; j < firstDayOfMonth; j++) {
      html += '<td class="not-current">' + k + '</td>';
      k++;
    }
  }

  // Write the current day in the loop
  var chk = new Date();
  var chkY = chk.getFullYear();
  var chkM = chk.getMonth();
  if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
    html += '<td class="today" data-toggle="modal" data-target="#exampleModal" onclick="populateDate(this.innerHTML)">' + i + '</td>';
  } else {
    html += '<td class="normal"  data-toggle="modal" data-target="#exampleModal" onclick="populateDate(this.innerHTML)">' + i + '</td>';
  }
  // If Saturday, closes the row
  if ( dow == 6 ) {
    html += '</tr>';
  }
  // If not Saturday, but last day of the selected month
  // it will write the next few days from the next month
  else if ( i == lastDateOfMonth ) {
    var k=1;
    for(dow; dow < 6; dow++) {
      html += '<td class="not-current">' + k + '</td>';
      k++;
    }
  }

  i++;
}while(i <= lastDateOfMonth);

// Closes table
html += '</table>';

// Write HTML to the div
document.getElementById(this.divId).innerHTML = html;
};

// On Load of the window
window.onload = function() {

// Start calendar
var c = new Cal("divCal");			
c.showcurr();

// Bind next and previous button clicks
getId('btnNext').onclick = function() {
  c.nextMonth();
};
getId('btnPrev').onclick = function() {
  c.previousMonth();
};
}

// Get element by id
function getId(id) {
return document.getElementById(id);
}


function populateDate(e) {
  console.log(e)
console.log(this)
document.getElementById("appointmentDate").innerText = 
" " + document.getElementById("currentMonth").innerText
+ " " + e + ", " + document.getElementById("currentYear").innerText
}

</script>
              
</div>




{% endblock %}



