
<!DOCTYPE html>
<html>
<head>
  <title></title>

  <link rel="stylesheet" type="text/css" href="../static/main.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Sacramento" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class = "wrapper">
    <div class="hero">

<div id="hamburger">
<img src="https://static.thenounproject.com/png/1061782-200.png" alt="hamburger" onclick=toggleNav()>
<div id="navigation">
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('therapists') }}">Schedule An Appointment!</a>
        <a href="{{url_for('profile')}}">{{current_user.firstName}}'s Profile</a>
        <a href="{{url_for('logout')}}" title="logout">Logout</a>
        {% if current_user.isCounselor == True %}
        <a href={{url_for('get_schedule', counselor_id = current_user.id)}}>Your Schedule</a>
        {%endif%}
        {% else %}
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{url_for('login')}}" title="login">Login</a>
        <a href="{{url_for('register')}}" title="register">Register</a>
        <a href="{{ url_for('therapists') }}">View all therapists</a>
    {% endif %}
</div>
</div>

<script>
function toggleNav() {
  var navigation = document.getElementById("navigation");
    if (navigation.style.display != 'none') {
    navigation.style.display = 'none';
    }
    else if (navigation.style.display == 'none') {
        navigation.style.display = 'flex';
    }
}
</script>

      <nav class="navbar navbar-fixed-top" role="navigation" aria-label="main navigation">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('therapists') }}">Schedule An Appointment!</a>
            <a href="{{url_for('profile')}}">{{current_user.firstName}}'s Profile</a>
            <a href="{{url_for('logout')}}" title="logout">Logout</a>
            {% if current_user.isCounselor == True %}
            <a href={{url_for('get_schedule', counselor_id = current_user.id)}}>Your Schedule</a>
            {%endif%}
            {% else %}
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{url_for('login')}}" title="login">Login</a>
            <a href="{{url_for('register')}}" title="register">Register</a>
            <a href="{{ url_for('therapists') }}">View all therapists</a>
        {% endif %}
    </nav>
        
        <div class = "hero-text">
        <h1>Sensibly</h1>
        <h6>... because scheduling an appointment shouldn't be hard.</h6>
    </div>

  </div>
    
  <div class="about-wrapper">
    <div class="text-wrapper">
        <img src="../static/media/cutepuppy1.png">
        <br/>
        <p>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima nisi similique! Ducimus illum ex, atque. Veniam reprehenderit modi eligendi odio reiciendis, natus velit, nesciunt, aliquam quasi consequatur assumenda ipsa. 
        </p>
      </div>

<div class="text-wrapper">
       <img src="../static/media/calender.png">
      <br/>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima nisi similique! Ducimus illum ex, atque. Veniam reprehenderit modi eligendi odio reiciendis, natus velit, nesciunt, aliquam quasi consequatur assumenda ipsa. "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. ""
      </div>

<div class="text-wrapper">
      <img src="../static/media/cutepuppy2.png">
      <br/>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis minima nisi similique! Ducimus illum ex, atque. Veniam reprehenderit modi eligendi odio reiciendis, natus velit, nesciunt, aliquam quasi consequatur assumenda ipsa. 
      </p>
    </div>

 </div>


</div>

</body>
</html>


<link rel="stylesheet" type="text/css" href="../static/home.css">

