<!-- Modal -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Make an Appointment on <span id=appointmentDate></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="text-align: center">
              Confirm the date & time of your appointment
              <br/>
              <br/>
              <form method="POST" action="" class="form">
                <div class='editElement'>
                    {{ form.csrf_token }}
                        Confirm Date:
                        {{ form.date() }}
                    </div>
                        <br/>
                        <div class='editElement'>
                        Time:
                        {{ form.time() }}
                      </div>
                        <br/>
                        <div class='editElement'>
                        <button type="submit" id="submit">Create Appointment</button>
                      </div>
                </form>                  
              
            </div>
          
          </div>
        </div>
      </div>