{% extends "layout.html"%}

{% block content%}
<div class="center" style="display: flex; justify-content: space-around; padding: 1em;">

        <article class="message secondary">
            <div class="profile-pic">
                <img class="account-img" src="{{ user.picture }}" style="height: 400px; width: auto;">
            </div>
            <div class="media-body message-body">
                <h2 class="account-heading">Profile for <span>{{user.firstName}} {{user.lastName}}</span></h2>
                <p class="text-secondary">Name: <span>{{user.firstName}} {{user.lastName}}</span> </p>
                <p class="text-secondary">Phone: <span>{{user.phone}}</span></p>
                <p class="text-secondary">Address: <span>{{user.address}},</span></p>
                <p class="text-secondary"><span>{{user.city}}, {{user.state}} {{user.zipcode}}</span></p>
                <p class="text-secondary">Date Joined: <span>{{user.joined_at.strftime("%x") }}</span></p>
                    {% if user.isCounselor == True %}
                    <p class="text-secondary">
                        Status: 
                    <span>Counselor</span>
                    </p>
                    {% else%}
                    <p class="text-secondary">
                            Status: 
                            <span>Client</span>
                    </p>
                    {% endif %}
            </div>
        </article>

        <div class="wrapper">
        <button style="margin: 1em 0;" onclick=editProfile()>Edit your profile</button>
        <div id="editProfileForm" style="width: 400px; display:none;">
                {% block editProfileForm %}
                {% endblock%}
        </div>

        <br/> 
        <div id="appointments-table">
                <button onclick=viewAppointments()>View your appointments</button>
    
                <div id="your-appointments" style="display: none;">
                  
                {% for appointment in appointments_template %}
    
                <div>
                {{ appointment.date.strftime("%A") }},
                {{ appointment.date.strftime("%x") }}
                {{ appointment.counselor.firstName}}
                <br/> 
                {{ appointment.time }}
              </div>
            <br/>
                {% endfor %}
            </div>
           
            <script src="../static/toggles.js"></script>
</div >

</div>
    </div>
   
        {%endblock%}
   
