{% extends "layout.html" %}

{% block content %}
{% from 'macros.html' import render_field %}

<div class="container">
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
    Check the box above if you are a counselor.
    <br/>
    <button type="submit" id="submit">Register!</button>
</form>
</div>
{% endblock %}

<!-- 
email = CharField(unique=True)
    password = CharField(max_length=100)
    isCounselor = BooleanField(default="False")

WHAT ARE MACROS????
-->

    
          