{% extends "layout.html" %}

{% block content %}
display the list of appointments made with said therapist here.

<div>

        <h4>Here is your schedule {{ appointments[0].counselor.firstName}}:</h4>
        <tr>
        {% for appointment in appointments %}
        <div>
                {{ appointment.date.strftime("%A") }},
                {{ appointment.date.strftime("%x") }}
                <br/>
                {{ appointment.time }}
        <div>
                Client Name: 
                    {{ appointment.client.firstName}}
            </div>
        <form action="" method="POST">
                <input name="appointment_id" type="hidden" value="{{appointment.id}}">
                <input name="submit" type="submit" value="Edit", class_="button">
                <input name="submit" type="submit" value="Delete", class_="button">
        </form>
        </div>
        <br/>
        {% endfor %}

</div>

{% endblock %}