{% extends "layout.html" %}

{% block content %}
<div class="container">

        <h4>Here is your schedule, {{ appointments[0].counselor.firstName}}:</h4>
        {% for appointment in appointments %}
        <div>
                {{ appointment.date.strftime("%A") }},
                {{ appointment.date.strftime("%x") }}
                <br/>
                {{ appointment.time }}
        <div>
                Client Name: 
                    {{ appointment.client.firstName}}
            </div>
        <form action="" method="POST">
                <input name="appointment_id" type="hidden" value="{{appointment.id}}">
                <text name="submit" type="submit" value="Edit" class="btn" class_="button" data-toggle="modal" data-target="#exampleModal">Edit</text>
                <input name="submit" type="submit" value="Delete" class="btn" class_="button">
        </form>

        <form method="POST" action= "/schedule/{{appointment.counselor.id}}/edit"  class="form">
                {{form.id}}
                    {{ form.csrf_token }}
                    <input name="appointment_id" type="hidden" value="{{appointment.id}}">
                        {{ form.date.label }}
                        {{ form.date() }}
                        <br/>
                        {{ form.time.label }}
                        {{ form.time() }}
                        <button type="submit" id="submit">Edit Appointment</button>
            </form>   

        </div>
        <br/>
        {% endfor %}
 

</div>

{% endblock %}