{% extends "layout.html" %}

{% block content %}

<div class="container">
<h1  style="margin: 1em 0 .2em 0;">Therapists</h1>

{% if current_user.is_authenticated %}

<h5  style="margin-bottom: 2em;">Click on the therapist you want to schedule an appointment with</h5>

{% for therapist in therapists_template %}
<article class="message is-primary"  style="margin-bottom: 2em;">
    <div class="message-body" style="display: flex; flex-direction: column;  ">
        <a href={{url_for('schedule', counselor_id = therapist.id)}}>
        <h4>{{therapist.firstName}} {{therapist.lastName}}</h4>
        <img src="{{ therapist.picture }}" style="height: 200px; width: auto;">
        </a>
        <button style="width: 300px; margin: 1em 0;">
            <a href={{url_for('schedule', counselor_id = therapist.id)}}>
            Schedule an appointment with {{therapist.firstName}} {{therapist.lastName}}
            </a>
        </button>
        <button style="width: 300px;">
            <a href={{url_for('therapistProfile', counselor_id = therapist.id)}}>
            View Profile
            </a>
        </button>
    </div>
</article>
<br/>
{% endfor %}

{%else%}

{% for therapist in therapists_template %}
<article class="message is-primary"  style="margin-bottom: 2em;">
    <div class="message-body" style="display: flex; flex-direction: column;  ">
        <a href={{url_for('schedule', counselor_id = therapist.id)}}>
        <h4>{{therapist.firstName}} {{therapist.lastName}}</h4>
        <img src="{{ therapist.picture }}" style="height: 200px; width: auto;">
        </a>
    </div>
</article>
<br/>
{% endfor %}

{%endif%}
</div>

{% endblock %}